body{
	background-color: yellow;
	text-align: center;
}
.discription{
	resize: both;
	overflow: auto;
}

#buttons{
	padding-top: 20px;
}
	p {
		font-size: 20px;
	}
	.left{
		float: left;
		width:50%;
	}
	.right{
		width: 50%;
		float: right;
	}
	ul li {
		display: inline;
	}
	.foot{
		margin: 450px;
		padding: 100px;
	}